/* ABSTRACTS */

/* :root {

    --yellow: #E6B84F;

    --orange: #F08C4A;

    --red: #E25D4A;

    --blue: #4F8FD9;

    --green: #5CC08A;

 

    --white-primary: #F7F8FA;

    --white-secondary: #FFFFFF;

 

    --black-primary: #1F2937;

    --black-secondary: #6B7280;

} */

 

/* NORMALIZE */

/* * {

    padding: 0;

    margin: 0;

    box-sizing: border-box;

} */

 

/* TYPOGRAPHY */

/* * {

    font-family: "Inter", sans-serif;

    font-weight: 400;

    text-transform: capitalize;

    color: var(--black-primary);

    font-weight: 500;

}

 

h1,

h2,

h3 {

    font-family: "Montserrat", sans-serif;

    color: var(--black-primary);

} */

 

/* BODY */

/* body {

    background-color: var(--white-primary);

} */

 

/* HEADER */

/* header {

    position: fixed;

    top: 0;

    width: 100%;

    background-color: var(--white-secondary);

    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

} */

 

/* header>div {

    display: flex;

    justify-content: space-between;

    padding: 16px;

}

 

header>div div {

    display: flex;

    gap: 8px;

} */

 

/* MAIN PROJECT */

/* main {

    margin-top: 76px;

    display: flex;

    flex-direction: column;

    gap: 8px;

}

 

.section {

    background-color: var(--white-secondary);

    padding: 16px;

    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

} */

 

/* .section__title {

    text-align: center;

    padding-bottom: 8px;

}

 

.section__content {

    display: grid;

    grid-template-columns: repeat(auto-fit,

            minmax(130px, 1fr));

    gap: 16px;

} */

 

/* .card {

    background-color: var(--white-primary);

    padding: 8px;

    border-radius: 8px;

    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}

 

.card__title {

    text-align: center;

    padding-bottom: 8px;

}

 

.card__content {

    display: flex;

    flex-direction: column;

    justify-content: center;

    gap: 8px;

} */

 

/* .accent-yellow {

    border-top: 4px solid var(--yellow);

}

.accent-orange {

    border-top: 4px solid var(--orange);

}

 

.accent-red {

    border-top: 4px solid var(--red);

}

 

.accent-green {

    border-top: 4px solid var(--green);

}

 

.accent-blue {

    border-top: 4px solid var(--blue);

} */

 

/* .action-yellow {

    background-color: var(--yellow);

    color: var(--white-secondary);

}

 

.action-orange {

    background-color: var(--orange);

    color: var(--white-secondary);

}

 

.action-red {

    background-color: var(--red);

    color: var(--white-secondary);

}

 

.action-blue {

    background-color: var(--blue);

    color: var(--white-secondary);

}

 

.action-green {

    background-color: var(--green);

    color: var(--white-secondary);

} */

 

/* BUTTONS */

/* button {

    background-color: var(--white-secondary);

    padding: 8px;

    border-radius: 8px;

    border: none;

    cursor: pointer;

    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

} */

 

/* button.active {

    background-color: var(--blue);

    color: var(--white-secondary);

} */

 

/* button.copied { */

    /* outline: none; */

    /* box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset; */

    /* transition: box-shadow 0.2s ease; */

/* } */

 