@use '../abstracts/variables' as *;

header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: $grey-light;

    & > div {
        display: flex;
        justify-content: space-between;
        padding: 16px;
        
        div {
            display: flex;
            gap: 8px;
        }
    }
}