@use '../abstracts/variables' as *;

main {

    display: flex;
    flex-direction: column;
    gap: 4px;


    .section {
    
        border-radius: 8px;
        
        &__notes {
            padding: 8px;
            gap: 8px;
            display: flex;
            justify-content: center;
    
            // @media (min-width: 769px) {
            flex-wrap: wrap;
            // }
    
    
            >div {
                padding: 8px;
                border: 1px solid $black;
                border-radius: 8px;
    
                >div {
                    gap: 8px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
    
                    @media (min-width: 769px) {
                        flex-direction: row;
                    }
                }
            }
        }
    }
}


#general {
    background-color: $grey-light;
}

#reminders {
    background-color: $yellow;
}

#escalations {
    background-color: $orange;
}

#closures {
    background-color: $red;
}

#actions {
    background-color: $blue;
}

#resolutions {
    background-color: $green;
}


#general-incidents {
    background-color: $red-inter;
    
    &>div>div {
        background-color: $red-light;
    }
}

#application-incidents {
    background-color: $red;

    &>div>div {
        background-color: $red-light;
    }
}


#general-requests {
    background-color: $blue-inter;

    &>div>div {
        background-color: $blue-light;
    }
}


#access-requests {
    background-color: $blue;

    &>div>div {
        background-color: $blue-light;
    }
}

.wn {
    background-color: $orange;
}