@use '../abstracts/variables' as *;

.section {
    background-color: var(--white-secondary);
    padding: 16px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

    &__title {
        text-align: center;
        padding-bottom: 8px;
    }

    &__content {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
        gap: 16px;
    }
}