@use '../abstracts/variables' as *;

button {
    width: 100%;
    background-color: $white-secondary;
    padding: 8px;
    border-radius: 8px;
    border: none;
    text-transform: capitalize;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

button.active {
    background-color: $blue;
    color: $white-secondary;
}

button.inactive {
    background-color: $white-primary;
}

button.copied {
    outline: none;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    transition: box-shadow 0.1s ease;
}