* {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
}

h1 {
    font-family: "Lora", serif;
    text-transform: uppercase;
}

h2,
h3 {
    text-transform: capitalize;
}

h2 {
    text-align: center;
    padding: 8px 0px;
}

h3 {
    text-align: center;
    padding-bottom: 8px;
}