@use '../abstracts/variables' as *;

* {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    text-transform: capitalize;
    color: var(--black-primary);
}

h1,h2,h3, h4 {
    font-family: "Montserrat", sans-serif;
    color: var(--black-primary);
    text-transform: uppercase;
}